<div class="one">
    <p> Hi {{user}} have been greeted {{greeted}} time(s)</p>
    <a href="/greeted">
        <button type="submit">Back</button>
    </a>

    <a href="/">
        <button type="submit">Home</button>
    </a>
</div>