
<ul class="list-names">
{{#each greeted }}

<li>
    <a href="/greeted/{{@key}}">{{@key}}</a><li>
<!--this was to make you get the objects(names) your @key, if you want value you will have to use "this"-->
{{/each}}
</ul>
    

