<div class="first">
    <h1>Greeted Names:</h1>
<ul>
{{#each greeted }}

    <li>
        <a href="/counter/{{this.name}}">{{this.name}}</a>
    <li>
<!--this was to make you get the objects(names) your @key, if you want value you will have to use "this"-->
{{/each}}
</ul>
<a href="/">
    <button type="submit">Back</button>
</a>
</div>
    

