.container {
    background-color: aqua;
    color: crimson;
    padding: 2em;
    margin: auto;
    max-width: 500px;
}
/* 
.one{

    background-color: aqua;
    color: crimson;
    padding: 2em;
    margin: auto;
    max-width: 500px;

} */
/* .first{
    
} */

ul{
    list-style-type:none;
}
