.container {
    background-color: aqua;
    color: black;
    padding: 2em;
    margin: auto;
    max-width: 500px;
}
/* 
.one{

    background-color: aqua;
    color: crimson;
    padding: 2em;
    margin: auto;
    max-width: 500px;

} */
/* .first{
    
} */

ul{
    list-style-type:none;
}

.message{
    color: crimson;
}

body {
    background-image:  url("../pic/download.jpg");
    background-color: #cccccc;
    background-size: cover;
    font-size: 1;
}
